.home-section {
  height: 100vh; /* Full height section */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFBFA; /* Example background color */
}

.home-intro {
  text-align: center;
  max-width: 60vw;
}

.home-intro h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  color: #303030;
}
